/* Center text/link in Navbar */
.navbar-centered a {
    display: block;
    font-size: 115%;
    font-weight: bolder;
    text-align: center;
}

/* Mouse over/hover effect for user */
.navbar a:hover {
    background: red;
}